<!doctype html>
<html>
  <head>
    <title>go-metainspector example site</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="http://bootswatch.com/cyborg/bootstrap.min.css">
  </head>
  <body>
    <h1>go-metainspector</h1>
    <form action="/inspect" method="POST">
      <fieldset>
        <div>
          <input type="text" onClick="this.select();" name="url" value="Insert an URL here">
        </div>
        <div>
          <input class="btn btn-primary" type="submit" value="Metainspect!">
        </div>
      </fieldset>
    </form>
    {{if .Title}}<div><b>Title:</b> {{.Title}}</div>{{end}}
    {{if .Author}}<div><b>Author:</b> {{.Author}}</div>{{end}}
    {{if .Description}}<div><b>Description:</b> {{.Description}}</div>{{end}}
    {{if .Language}}<div><b>Language:</b> {{.Language}}</div>{{end}}
    {{if .Feed}}<div><b>Feed URL:</b> {{.Feed}}</div>{{end}}
    {{if .Charset}}<div><b>Charset:</b> {{.Charset}}</div>{{end}}
    {{if .Keywords}}<div><b>Keywords:</b> {{range .Keywords}} {{. }}{{end}}</div>{{end}}
    {{if .Images}}<div><b>Images:</b> {{range .Images}} <img src="{{.}}">{{end}}</div>{{end}}
    {{if .Links}}<div><b>Links:</b> {{range .Links}} <a href="{{.}}">{{.}}</a>{{end}}</div>{{end}} 
  </body>
  <br><br><br>
  <footer>By <a href="http://twitter.com/fern4lvarez">Fernando Álvarez</a>. Hosted on <a href="http://www.cloudcontrol.com">cloudControl</a>. Check the <a href="https://www.github.com/fern4lvarez/go-metainspector">go-metainspector</a> package out. <a href="http://golang.org/">#golang</a> rocks.</footer>
</html>